.cartCount {
  position: relative;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.icon img {
  width: inherit;
  height: inherit;
}

.number {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  right: -50%;
  top: -25%;
  background-color: rgb(255, 60, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
}
