.cartCount {
  position: relative;
}

.icon {
  width: 2rem;
  height: 2rem;
}

img {
  width: inherit;
  height: inherit;
}

.number {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px;
  background-color: aqua;
  border-radius: 0.5rem;
}
