.loading {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(116, 116, 116);
}

.spinner {
  width: 4rem;
  height: 4rem;
  border: 1rem dotted rgb(116, 116, 116);
  border-radius: 50%;
  animation-duration: 3s;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
